/* Resets */

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: "";
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

/* root */

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

:root {
    --fs-h1: 3.052rem;
    --fs-h2: 2.441rem;
    --fs-h3: 1.953rem;
    --fs-h4: 1.563rem;
    --fs-h5: 1.25rem;
    --fs-s: 0.8rem;

    --primary: #3AC08F;
    --secondary: #98DFC5;
    --f-clr--primary: #222725;
    --f-clr--light: #4C504E;
    --f-clr--greyBlue: #3B4856;
    --f-clr--lightGreyBlue: #4951597b;
    --hover: #36b486;
}


/* NAV */
.nav-container {
    max-width: 375px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-inline: 10px;

}

.nav__logo {
    font-size: 20px;
    font-weight: 600;
    color: var(--f-clr--primary);
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.cta-btn {
    background: var(--primary);
    font-size: 14px;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

.cta-btn:hover {
    background: var(--hover);
    cursor: pointer;
}

/* HERO */

.main-container {
    max-width: 375px;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero__text-container {
    flex: 1;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-inline: 15px;
}

.hero__img-container {
    flex: 1;
}

.hero__h1-container {
    font-size: 33px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--f-clr--primary);
    margin-bottom: 16px;
}


.hero__info-container {
    color: var(--f-clr--light);
    margin-bottom: 24px;
}

.hero__cta-container {
    display: flex;
    gap: 5px;
}

.hero__cta--btn {
    background: var(--primary);
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.hero__cta--btn:hover {
    background: var(--hover);
    cursor: pointer;
}


.hero__cta--info {
    display: flex;
    align-items: center;
    font-size: 10px;
    flex: 5;
}

.hero__img-container {
    margin-bottom: 72px;
}

.hero__img--desktop {
    display: none;
}

/* CARDS */

.cards-container {
    background: var(--secondary);
    width: 100%;
    height: auto;
    transform: rotate(3.6deg) skew(3.6deg);
    display: flex;
    justify-content: center;
}

.cards-container>* {
    transform: rotate(-3.6deg) skew(-3.6deg);
}

.cards {
    width: 90%;
    max-width: 375px;
    height: auto;
    margin: 0 15px;
    padding: 56px 0;

    display: flex;
    flex-direction: column;
    gap: 56px;

}

.card {
    width: 100%;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    padding: 30px 20px;
}


.card__img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.card__img img {
    height: 60px;


}

.card__h {
    font-size: 25px;
    color: var(--f-clr--greyBlue);
    font-weight: 500;
    margin-bottom: 8px;

}

.card__h--indicator {
    color: var(--primary);
    font-weight: bold;
    margin-right: 5px;
}

.card__info {
    color: var(--f-clr--greyBlue);

}

/* Contact form */

.contact__form-img-container {
    display: flex;
    flex-wrap: wrap-reverse;
}

.contact-section {
    margin-inline: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 375px;
    padding: 0 15px 0 15px;
}

.contact-form-container {
    width: 100%;
}

.contact__h2 {
    font-size: 16px;
    color: var(--f-clr--greyBlue);
    font-weight: bold;
    text-align: center;


}

.contact__sub-h {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: var(--f-clr--greyBlue);
}

input[type=text],
input[type=email],
textarea {
    border: 1px solid var(--f-clr--lightGreyBlue);
    border-radius: 8px;
    padding: 10px;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    border: 1px solid var(--f-clr--greyBlue);
}

input::placeholder,
input::placeholder,
textarea::placeholder {
    color: var(--f-clr--lightGreyBlue);
}


input[type=text],
input[type=email] {
    padding: 15px 10px;
}

label {
    margin-left: 5px;
    font-weight: bold;
    color: var(--f-clr--greyBlue);
}

.form-containers {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 2px;
}


.send-btn {
    padding: 15px 40px;
    background: var(--primary);
    border-radius: 8px;
    color: white;
}

.send-btn:hover {
    background: var(--hover);
    cursor: pointer;
}


.contact__message-sent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: 100px 0 100px 0;
    display: none;
}

.sent__h {
    font-size: 25px;
}

.sent__icon {
    width: 100px;
    height: auto;
    align-items: center;
}


.footer-container {
    width: 100%;
    text-align: center;
}

.footer-container>* {
    font-size: 13px;
    font-weight: 500;
    color: var(--f-clr--primary);
    padding: 15px 0;
}

.footer__info {
    text-align: center;
}



/* tablet -> latop */

@media screen and (min-width: 700px) {
    .nav-container {
        min-width: 700px;
        max-width: 960px;
    }

    .main-container {
        min-width: 700px;
        max-width: 960px;
        padding: 0 30px 0 30px;
    }

    .hero-container {
        flex-direction: row;
        margin-top: 64px;
        margin-bottom: 84px;
    }

    .hero__text-container {
        margin: 0;
    }

    .hero__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .cards {
        min-width: 700px;
        max-width: 960px;
        padding: 0 30px 0 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .card__img {
        justify-content: start;
        margin-bottom: 10px;
    }

    /* Contact tablet */

    .contact-section {
        min-width: 700px;
        max-width: 1440px;
        width: 100%;
        margin: 120px auto 120px auto;
        align-items: center;
        padding-inline: 30px;

    }

    .contact__h {
        margin-bottom: 30px;
    }



    .message-illustration-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .contact-form-container {
        width: 50%;
    }

    .contact__message-sent {
        width: 50%;
    }
}

/* Laptop -> dekstop */

@media screen and (min-width: 960px) {
    html {
        font-size: 18px;
    }

    .hero__img--mobile {
        display: none;
    }

    .hero__img--desktop {
        display: block;
    }

    .nav-container {
        min-width: 960px;
        max-width: 1440px;
        padding-inline: 20px;
    }

    /* HERO */

    .main-container {
        min-width: 960px;
        max-width: 1440px;
        padding-inline: 30px;
        margin-top: 128px;
        margin-bottom: 148px;
    }

    .hero-container {
        flex-direction: row;
    }

    .hero__text-container {
        margin: 0;
        padding: 10px;
    }

    .hero__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .hero__h1 {
        font-size: 40px;

    }

    .hero__info {
        font-size: 20px;

    }

    .hero__cta--info {
        font-size: 12px;
        font-weight: lighter;
    }

    .hero__cta--btn {
        font-size: 16px;
    }




    /* CARDS */

    .cards {
        width: 100%;
        margin: 50px 0 0 0;
        max-width: 1440px;
        padding-inline: 30px;
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        height: 400px;
        padding: 20px;

    }



    .card-container {
        flex: 1;
        width: 25%;
    }

    .card__img {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .cards-container {
        height: 400px;

    }

    .card__info {
        font-size: 14px;
    }


    .card__h {
        font-size: 20px;
    }





    /* Contact section */

    .contact__h2 {
        font-size: 20px;
    }

    .contact__sub-h {
        font-size: 25px;
    }

    .contact__message-sent {
        margin: 200px auto 200px auto;
    }


}

@media screen and (min-width: 1046px) {
    .card {
        padding: 30px 20px;
    }

    .hero__h1 {
        font-size: 48px;

    }

    .hero__info {
        font-size: 22px;

    }


}

/* Desktop -> */

@media screen and (min-width: 1200px) {

    .card {
        height: 470px;
    }

    .hero__h1 {
        font-size: 55px;
    }

    .hero__info {
        font-size: 25px;
    }

    .hero__cta-container {
        width: 70%;
    }

    .card__h {
        font-size: 25px;
    }

    .card__info {
        font-size: 18px;
    }

    .contact-section {
        margin: 200px auto 200px auto;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        height: 440px;
    }
}